<footer module="layout_footerPackage">
<!--@css(/css/module/layout/3107/footerpackage.css)-->
    <div class="footerMenu">
       
       
        <ul class="policy">
			<li><a href="/shopinfo/company.html" class="btnUtil">회사소개</a></li>
			<li><a href="/shopinfo/guide.html" class="btnUtil">이용안내</a></li>
            <li><a href="/member/mall_agreement.html">이용약관</a></li>
            <li><a href="/member/privacy.html"><strong>개인정보취급방침</strong></a></li>
        </ul>
    </div>
    <p class="copyright">Copyright&copy; 2014 CoverStory. All Rights Reserved.</p>
</footer>
